<div class="l-flex-wrapper-stack flex-centered m-sign-in-back">
  <div class="card m-sign-in l-flex-wrapper-stack flex-centered">
      <span class="card-title" >Sign in</span>
      <a class="waves-effect waves-light btn" (click)="signInAnonymously()" >Anonymously</a>
      <a class="waves-effect waves-light btn" (click)="signInWithGithub()" >GitHub</a>
      <a class="waves-effect waves-light btn" (click)="signInWithGoogle()" >Google</a>
      <a class="waves-effect waves-light btn" (click)="signInWithTwitter()" >Twitter</a>
    </div>

</div>
