@charset "UTF-8";

// ----------------------
// == Globals
// ----------------------

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
$font-primary: "Roboto", Helvetica, Arial, sans-serif;



// = Colors
// -----------------------------
$primary-color-dark:   #616161;
$primary-color:        #07405C;
$primary-color-light:  #F5F5F5;
$primary-color-text:   #212121;
$accent-color:         #28b8ff;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

// Content
