@charset "UTF-8";

// ----------------------
// == Globals
// ----------------------

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
$font-primary: "Roboto", Helvetica, Arial, sans-serif;


// = Colors
// -----------------------------
$color-primary: #445566;
$color-secondary: #ff0000;

$background-color: #dddddd;


// Navigation Bar
$navigation-background-color: #333333;
$navigation-text-color: #555555;


// Side Bar
$leftnav-background-color: #ff33ff;

// Content


// Footer
$footer-background-color: #333333;
$footer-text-color: #555555;
